@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full border p-2 rounded;
}

.btn-primary {
  @apply w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700;
}

.btn-danger {
  @apply w-full bg-red-600 text-white py-2 rounded hover:bg-red-700;
}
